<head>

  <link rel="stylesheet" href="../../css/createaccount.css">
  <script type="text/javascript" src="../../script/createaccount/createaccount.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


</head>

<div class="row">
  <div class="col-sm-8 sol-md-6 col-lg-5 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Création du compte</h4>
      </div>

      <div class="card-body">
        <form class="needs-validation" novalidate action="/register" method="post">

          <div class="form-group">
            <label for="nom_client">Nom de l'enfant ou adolescent: </label>
            <input type="text" class="form-control" name="nom_client" placeholder="Entrer le nom de famille" required autofocus>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <label for="prenom_client">Prénom de l'enfant ou adolescent: </label>
            <input type="text" class="form-control" name="prenom_client" placeholder="Entrer le prénom" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <input type="checkbox" onchange="onSelectMono(this)" class="ml-1" id="famillecheck" name="famillecheck" value="true"> 1 Seul Contacts? <br>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <hr class="my-3">

          <div>
            <h6 class="text-center"> Contact 1 </h6>
          </div>

          <div class="form-group">
            <label for="nom_contact1">Nom du Contact: </label>
            <input type="text" class="form-control" name="nom_contact1" placeholder="Entrer le nom du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <label for="prenom_contact1">Prénom du Contact: </label>
            <input type="text" class="form-control" name="prenom_contact1" placeholder="Entrer le prénom du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <label for="num_telephone_contact1">Numéro de téléphone (Format: 819-000-0000): </label>
            <input type="tel" class="form-control" name="num_telephone_contact1" placeholder="Entrer le numéro de téléphone du contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div id=divEmail1 class="form-group">
            <label for="courriel_contact1">Courriel: </label>
            <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="form-control" name="courriel_contact1" placeholder="Entrer l'adresse courriel du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            <button type="button" id="email1" onclick="ajoutChampContact1(1)" class="btn btn-outline-success btn-sm mt-1">+</button>
          </div>

          <hr class="my-3">

          <div>
            <h6 class="text-center"> Contact 2 </h6>
          </div>

          <div class="form-group">
            <label for="nom_contact2">Nom du Contact: </label>
            <input type="text" class="form-control" id="nom_contact2" name="nom_contact2" placeholder="Entrer le nom du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <label for="prenom_contact2">Prénom du Contact: </label>
            <input type="text" class="form-control" id="prenom_contact2" name="prenom_contact2" placeholder="Entrer le prénom du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div class="form-group">
            <label for="num_telephone_contact2">Numéro de téléphone (Format: 819-000-0000): </label>
            <input type="tel" class="form-control" id="num_telephone_contact2" name="num_telephone_contact2" placeholder="Entrer le numéro de téléphone du contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
          </div>

          <div id=divEmail2 class="form-group">
            <label for="courriel_contact2">Courriel: </label>
            <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="form-control" id="courriel_contact2" name="courriel_contact2" placeholder="Entrer l'adresse courriel du contact" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            <button type="button" id="email2" onclick="ajoutChampContact2(2)" class="btn btn-outline-success btn-sm mt-1">+</button>
          </div>

          <hr class="my-3">

          <div class="text-center">
            <button id="bouton" type="submit" class="btn btn-success center-block mb-2 mt-3" >Submit</button>
          </div>
          <div class="text-center" id="message">*information obligatoire</div>

        </form>
      </div>
    </div>
  </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
