<!DOCTYPE html>
<html lang="en">
<head>

  <title>Accueil Manon Psychologie pour Enfants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil des Clients</h4>
      </div>

      <div class="card-body" id="body">

        <form class="form-inline" action="/clients_recherche" method="get">
          <div class="row">
            <div class="col">
              <input class="form-control" style="width:225px" type="text" name="nom_enfant" placeholder="Nom ou prenom de l'enfant" value="{{name}}" required>
              <button class="btn btn-primary" type="submit">Chercher</button>
            </div>
          </div>
        </form>

        <hr class="mt-4">

        {{{resultat}}}


      </div>


    </div>
  </div>
</div>
