<head>

  <link rel="stylesheet" href="../../css/calendrierClient.css">
  <script type="text/javascript" src="../../script/calendrierClients.js"></script>

</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Réservations disponibiles</h4>
      </div>

      <div class="card-body text-center" id="calendrier">

        {{{resultat}}}

      </div>
    </div>
  </div>
</div>
