<div class="row">
  <div class="col-sm-14 sol-md-11 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Vos Réservations</h4>
      </div>

      <div class="card-body text-center" id="chaquereservation">

        <div class="row">
          <div class="col">
            <a href="/reservation/ancienne" type="button" class="btn btn-primary center-block mt-2">Anciennes Réservations</a>
            <a href="/reservation/future" type="button" class="btn btn-primary center-block mt-2">Réservations Futures</a>
            <a href="/reservation" type="button" class="btn btn-primary center-block mt-2">Toutes les Réservations</a>
          </div>
        </div>
        <hr class="mt-4">

        {{{resultat}}}

      </div>
    </div>
  </div>
</div>
