<!DOCTYPE html>
<html lang="en">
<head>

  <title>Accueil Manon Psychologie pour Enfants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="../../script/profil.Client.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="row">
  <div class="col-sm-14 sol-md-11 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Vos Réservations</h4>
      </div>

      <div class="card-body text-center" id="chaquereservation">

        <div class="row">
          <div class="col">
            <a href="/reservation/ancienne" type="button" class="btn btn-primary center-block mt-2">Anciennes Réservations</a>
            <a href="/reservation/future" type="button" class="btn btn-primary center-block mt-2">Réservations Futures</a>
            <a href="/reservation" type="button" class="btn btn-primary center-block mt-2">Toutes les Réservations</a>
          </div>
        </div>
        <hr class="mt-4">

        {{{resultat}}}


      </div>


  </div>
</div>
