<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil des Clients</h4>
      </div>

      <div class="card-body" id="body">

        <form class="form-inline" action="/clients" method="get">
          <div class="row">
            <div class="col">
              <input class="form-control" type="text" placeholder="Entrez le nom de l'enfant">
              <button class="btn btn-primary" type="submit">Chercher</button>
            </div>
          </div>
        </form>

        <hr class="mt-4">

      </div>
    </div>
  </div>
</div>
