<!DOCTYPE html>
<html lang="en">
<head>

  <title>Accueil Manon Psychologie pour Enfants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="../../script/profil.Client.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil du Psychologue</h4>
      </div>

      <div class="card-body">
        <form action="/profil_psychologue/update" method="post">

          <div class="row">
            <div class="col">
              <label for="nom_psychologue">Nom:</label>
              {{{nom}}}
            </div>
            <div class="col">
              <label for="prenom_psychologue">Prénom:</label>
              {{{prenom}}}
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_psychologue">Courriel:</label>
              {{{courriel}}}
            </div>
            <div class="col">
              <label for="num_telephone_psychologue">Téléphone:</label>
              {{{telephone}}}
            </div>
          </div>

          <div class="row mt-2">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary center-block mt-2">Modifier</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
