<head>

  <script src="../../script/calendrierPsycho.js"></script>
  <link rel="stylesheet" href="../../css/calendrierPsycho.css">

</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Les Rendez-Vous</h4>
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col">
            <a href="/calendrier_psychologue/anciens" type="button" class="btn btn-primary center-block mt-2">Rendez-vous Anciens</a>
            <a href="/calendrier_psychologue/futures" type="button" class="btn btn-primary center-block mt-2">Rendez-vous Futures</a>
            <a href="/calendrier_psychologue/disponnible" type="button" class="btn btn-primary center-block mt-2">Rendez-vous Disponnible</a>
            <a href="/calendrier_psychologue/create" type="button" class="btn btn-primary center-block mt-2">+</a>
          </div>
        </div>
        <hr class="mt-4">
        <div id="month" class="month">
        </div>

        <div id="calendrierPsycho">
        </div>
          {{{resultat}}}
      </div>
    </div>
  </div>
</div>
