<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top m-9 p-8">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/profil_psychologue">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clients">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/calendrier_psychologue">Réservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/private-route">Deconnection</a>
    </li>
  </ul>

</nav>
